body{
    margin: 0;
    padding: 0;
    background-color: #260E02;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23400b02' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%235b0801' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23750601' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23900300' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    color: aliceblue;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 90vh;
    margin: 10px auto 50px;
    margin-bottom: 0px;
    
}

h1{
    text-align: center;
}

.section1{
    background-color: rgba(255, 255, 255, .2);
    width: 450px;
    height: 500px;
    margin: 40px 0p;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
button{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 4px;
    font-size: 34px;
    font-weight: bold;
    color: aliceblue;
}

button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .4);
}

.section2{
    background-color: rgba(255, 255, 255, .2);
    width: 300px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.estadisticas{
    height: 80px;
    border: 1px solid wheat;
    border-radius: 6px;
    padding: 10px;
}

.div-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-button__reinicio{
    text-align: center;
    font-size: 25px;
    width: 250px;
    height: 40px;
    background-color: rgba(255, 255, 255, .2);
}



